.sidenav {
  height: 100%;
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b3b3b3;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 15px;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  text-align: center;
  margin-left: 120px;
  margin-bottom: 50px;
  font-size: 50px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container {
  margin-top: 30px;
  margin-bottom: 50px;
}

.card {
  border: solid 1px black;
  background-color: #e6e6e6;
  margin-left: 80px;
  margin-bottom: 30px;
  width: 30rem
}

#pizza-builder, #user-address {
  font-size: 14px;
}

.form-header {
  font-weight: bold;
  font-size: 16px;
}

input {
  margin-right: 10px;
}

li {
  font-size: 14px;
  font-weight: bold;
}

button {
  margin-top: 30px;
}

.result, .address {
  display: none;
}

.order-confirmation {
  display: none;
  text-align: center;
  margin-left: 120px;
  margin-top: 100px;
}

.result p {
  font-size: 16px;
  font-weight: bold;
}

#size-display, #meat-display, #toppings-display {
  font-weight: normal;
}

#page-reset {
  color: blue;
  text-decoration: underline;
  cursor: pointer;

}
