.sidenav {
  height: 100%;
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e6e6e6;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 15px;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  text-align: center;
  margin-left: 120px;
  font-size: 50px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.container {
  margin-top: 30px;
  margin-bottom: 50px;
}

.card {
  margin-left: 80px;
  margin-bottom: 30px;
  width: 25rem
}

#pizza_builder {
  font-size: 14px;
}

.form-header {
  font-weight: bold;
  font-size: 16px;
}

input {
  margin-right: 10px;
}

li {
  font-size: 14px;
  font-weight: bold;
}

#size-display, #meat-display, #toppings-display {
  font-weight: normal;
}
